* {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(252, 255, 245, 1);
}

.mensagem {
    color: red;
    margin-top: 16px;
    font-size: 16px;
}

.header {
    width: 100%;
    height: 520px;
    background: url(../img/Imagem_fundo_cabeçalho.webp) no-repeat center;
    background-size: cover;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 520px;
    background-color: rgba(25, 52, 65, 0.93);
    z-index: 1;
}

.Logo{
    width: 80px;
}

.Logo-Header {
    left: 100%;
    top: 50px;
    position: relative;
    z-index: 3;
}

.Titulo-Header {
    color: white;
    font-size: 45px;
    position: relative;
    z-index: 2;
}

.Subtitulo-Header{
    color: white;
    font-size: 20px;
    margin-top: 20px;
    position: relative;
    z-index: 2;
}

.Container-Header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 2;
}

label {
    font-size: 22px;
}

input {
    border: none;
    background-color: #D1DBBD;
    border-radius: 10px;
    width: 300px;
    height: 38px;
    font-size: 15px;
    padding: 0 0.714em;
    outline: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Labels-Inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title-caixa-login {
    font-size: 25px;
    margin-bottom: 20px;

}

.Login-Email {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Login-Senha {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Caixa-Login {
    width: 450px;
    height: 350px;
    background-color: rgba(252, 255, 245, 1);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
    z-index: 2;
}

.Container-BoxLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.Btn-Entrar {
    width: 130px;
    height: 45px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #3E606F;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.6s ease;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.Btn-Entrar:hover {
    background-color: #304752;
}

.Link-Cadastro {
    text-decoration: underline;
    color: #91AA9D;
}

.section1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Container-Section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 1200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.Titulo-Section1{
    color: rgba(25, 52, 65, 0.93);
    font-size: 40px;
    font-weight: 500;
}

.textos-section1 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.texto-sec1 {
    font-size: 22px;
    text-align: justify;
    padding: 0 30px;
}

.texto2-section1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 1;
    background-color: rgba(145, 170, 157, 0.55);
    width: 800px;
    height: 50px;
}

.imgs-section1 {
    display: flex;
    gap: 40px;
}

.img-section1{
    width: 270px;
}

.section2 {
    background-color: rgba(25, 52, 65, 0.93);
    padding-bottom: 60px;
}

.Container-Section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Titulo-Section2 {
    color: white;
    font-weight: 100;
    font-size: 35px;
    padding: 50px 0;
}

.Blocos {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

.Bloco{
    width: 370px;
    height: 300px;
    background-color: rgba(252, 255, 245, 1);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.img-bloco {
    width: 80px;
    margin-left: 20px;
}

.ajuste {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-bottom: 40px;
    gap: 15px;
}

.div-img{
    padding-bottom: 10px;
}

.titulo-bloco {
    font-size: 30px;
    font-weight: 500;
    color: rgba(25, 52, 65, 0.93);
}

.texto-bloco {
    font-size: 20px;
    font-weight: 100;
}

.section3{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20vh 0;
    gap: 100px;
}

.bloco-fale-conosco {
    background-color: #193441;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    padding: 40px;
    width: 560px;
}

.div-inputs-contato{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.input-fale-conosco {
    background-color: #ffffff;
    width: 300px;
    border-radius: 10px;
}

.input-mensagem {
    background-color: #ffffff;
    width: 96%;
    height: 150px;
    border-radius: 10px;
}

.btn-enviar {
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    width: 98%;
    border: none;
    border-radius: 13px;
    background-color: #d2de27;
    color: rgb(255, 255, 255);
    font-size: 20px;
    cursor: pointer;
    margin-top: 25px;
    transition: all 0.5s ease;
}

.btn-enviar:hover {
    background-color: #828a0f;
}

.div-btn-enviar {
    display: flex;
    justify-content: center;
}

.gap {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.title-bloco-fale-conosco {
    color: white;
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
}

.Bloco-Duvidas {
    background-color: rgba(217, 217, 217, 1);
    width: 20%;
    padding: 0px 50px;
    height: 300px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Titulo-section3 {
    font-size: 22px;
    display: flex;
    justify-content: center;
}

.texto-sec3{
    font-size: 19px;
    text-align: justify;
}

.titulo-texto {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer {
    background-color: #193441;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.itens-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 50px;
}

.texto-footer{
    color: white;
    font-size: 17px;
    font-family: Kantumruy Pro;
    font-weight: 500;
    cursor: pointer;
}

.texto-footer2 {
    font-size: 15px;
    font-family: Kantumruy Pro;
    font-weight: 500;
}

.texto-footer::before {
    margin-left: auto;
}
  
.texto-footer::after {
    content: '';
    width: 0%;
    height: 1.5px;
    background: #91AA9D;
    display: block;
    transition: 0.5s;
}
  
.texto-footer:hover::after, .texto-footer:hover::before {
    width: 100%;
}

.info-footer {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 80px;
}

.img-footer{
    width: 45px;
    height: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.img-footer:hover {
    transform: scale(1.2);
}

.img-container {
    width: 65px;
    height: 65px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgs-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.footerpart2 {
    width: 100%;
    height: 80px;
    background-color: #3E606F;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

@media (min-width: 1520px) and (max-width: 2559px) {
    .Logo-Header {
        left: 145px;
    }

    .section3 {
        padding: 20vh 0;
    }

    .texto-sec3 {
        font-size: 20px;
    }
}

@media (max-width: 1440px) {
    .Logo-Header {
        left: 7%;
    }
}

@media (max-width: 1024px) {
    .Logo-Header {
        left: 17px;
    }

    .section2{
        width: 100%;
    }

    .Bloco {
        width: 310px;
    }

    .texto-bloco{
        font-size: 17px;
        width: 90%;
    }

    .section3 {
        display: grid;
        justify-content: center;
        justify-items: center;
        gap: 100px;
    }

    .Bloco-Duvidas {
        width: 600px;
    }

    .bloco-fale-conosco{
        padding: 50px;
        width: 500px;
    }

    .div-inputs-contato {
        gap: 90px;
    }
}

@media (max-width: 768px) {

    .Logo {
        width: 80px;
    }

    .Logo-Header {
        top: 65px;
        left: 50px;
    }

    .header {
        display: grid;
        height: 650px;
    }

    .header::before {
        height: 650px;
    }

    .Container-Header {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        gap: 70px;
        bottom: 50px;
    }

    .Titulo-Header {
        font-size: 40px;
        text-align: center;
    }

    .Subtitulo-Header {
        font-size: 20px;
        text-align: center;
    }

    .Textos-Header {
        position: relative;
}

    .Caixa-Login {
        width: 400px;
        height: 300px;
    }

    .title-caixa-login {
        font-size: 22px;
        margin: 0;
    }

    label {
        font-size: 20px;
    }
    
    input {
        width: 250px;
    }

    .Login-Email {
        gap: 20px;
    }

    .Login-Senha {
        gap: 20px;
    }

    .texto-sec1 {
        font-size: 19px
    }

    .texto2-section1 {
        width: 700px;
        font-size: 18px;
    }

    .Blocos {
        display: inline-flex;
        flex-direction: column;
    }

    .Titulo-section3 {
        font-size: 23px;
    }

    .texto-sec3 {
        font-size: 20px;
    }

    .info-footer {
        gap: 35px;
    }
}

@media (max-width: 426px) {

    .Logo-Header {
        top: 30px;
        left: 0;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: center;
    }

    .Titulo-Header {
        font-size: 35px;
    }

    .Subtitulo-Header {
        font-size: 18px;
    }

    .Container-Header {
        bottom: 30px;
        gap: 35px;
    }

    .Caixa-Login {
        width: 350px;
        height: 270px;
        gap: 15px;
    }

    .title-caixa-login {
        font-size: 20px;
    }

    label {
        font-size: 18px;
    }
    
    input {
        width: 220px;
        height: 33px;
    }

    .Container-BoxLogin p {
        font-size: 18px;
    }

    .Btn-Entrar {
        width: 100px;
        font-size: 18px;
    }

    .Login-Email {
        gap: 20px;
    }

    .Login-Senha {
        gap: 20px;
    }

    .Titulo-Section1 {
        font-size: 30px;
    }

    .texto-sec1 {
        font-size: 17px;
    }

    .texto2-section1 {
        width: 400px;
        font-size: 17px;
        text-align: center;
    }

    .img-section1 {
        width: 200px;
    }

    .Titulo-Section2 {
        font-size: 30px;
    }

    .Bloco {
        width: 300px;
        height: 280px;
    }

    .img-bloco {
        width: 60px;
    }

    .div-img {
        padding: 5px 0px;
    }

    .titulo-bloco {
        font-size: 26px;
    }

    .texto-bloco {
        font-size: 16px;
    }

    .section3 {
        padding: 60px;
    }

    .bloco-fale-conosco {
        width: 250px;
    }

    .div-inputs-contato {
        display: flex;
        flex-direction: column;
        gap: 20px; 
    }

    .input-fale-conosco {
        width: 240px;
        height: 38px;
    }

    .input-mensagem {
        width: 240px;
    }

    .btn-enviar {
        width: 120px;
    }

    .div-btn-enviar {
        width: 100%;
    }

    .Bloco-Duvidas{
        width: 200px;
        height: 300px;
        padding: 20px 60px;
    }

    .Titulo-section3 {
        font-size: 22px;
    }

    .texto-sec3 {
        font-size: 18px;
        text-align: justify;
    }

    .img-footer {
        width: 45px;
    }

    .info-footer {
        flex-direction: column;
    }
    
    .texto-footer2 {
        text-align: center;
        font-size: 18px;
    }

}

@media (max-width: 320px) {

    .Logo {
        width: 70px;
    }

    .Titulo-Header {
        font-size: 30px;
    }

    .Subtitulo-Header {
        font-size: 16px;
    }

    .Textos-Header {
        position: relative;
        bottom: 20px;
    }

    .Caixa-Login {
        width: 280px;
        height: 280px;
    }

    .title-caixa-login {
        font-size: 19px;
        text-align: center;
    }

    label {
        font-size: 15px;
    }

    input {
        width: 180px;
    }

    .Login-Email {
        gap: 10px;
    }

    .Login-Senha {
        gap: 10px;
    }

    .Btn-Entrar {
        width: 80px;
        font-size: 15px;
    }

    .Container-BoxLogin p {
        font-size: 15px;
    }

    .Link-Cadastro {
        font-size: 15px;
    }

    .texto2-section1 {
        width: 260px;
        font-size: 15px;
    }

    .img-section1 {
        width: 180px;
    }

    .Titulo-Section2 {
        text-align: center;

    }

    .Bloco {
        width: 250px;
        height: 250px;
    }

    .titulo-bloco {
        font-size: 20px;
    }

    .bloco-fale-conosco {
        width: 180px;
    }

    .title-bloco-fale-conosco {
        font-size: 24px;
    }

    .btn-enviar {
        width: 100px;
        height: 40px;
        font-size: 17px;
    }

    .Bloco-Duvidas {
        padding: 0 40px;
    }

}