* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

body {
  background-color: rgba(209, 219, 189, 1);
}

.Section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Cadastro {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.voltar{
  display: flex;
  align-items: center;
  position: absolute;
  top: 70px;
  left: 200px;
  gap: 10px;
}

.voltar a {
  font-size: 20px;
  font-weight: 500;
  color: rgba(62, 96, 111, 1);
}

.voltar img {
  width: 30px;
}

.caixa-cadastro {
  background-color: #3E606F;
  width: 130%;
  height: 60vh;
  border: none;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

label {
  color: white;
  font-size: 22px;
  width: 80px;
  text-align: left;
}

input {
  border: none;
  width: 300px;
  height: 35px;
  border-radius: 9px;
  font-size: 15px;
  padding: 0 0.714em;
  outline: none;
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
}

.Titulo-caixa-cadastro {
  color: white;
  font-size: 27px;
}

.Label-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Cadastro-Nome {
  display: flex;
  align-items: center;
}

.Cadastro-Email {
  display: flex;
  align-items: center;
}

.Cadastro-Senha {
  display: flex;
  align-items: center;
}

.Btn-Criar {
  width: 140px;
  height: 45px;
  border-radius: 10px;
  border: none;
  color: white;
  background-color: #193441;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
}

.Btn-Criar:hover {
  background-color: #101e25;
}

.Cadastro .caixa-cadastro .link-login {
  color: #D1DBBD;
  text-decoration: underline;
  font-size: 20px;
}

.Background-image {
  width: 35%; /* Ocupa a metade direita da tela */
  height: 100vh;
  background-image: url('../img/Imagem_fundo_cabeçalho.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Background-image::before {
  content: "";
  position: absolute;
  top: 0;
  righ: 0;
  width: 35%;
  height: 100vh;
  background-color: rgba(25, 52, 65, 0.93);
  z-index: 1;
}

.Logo{
  width: 190px;
}

.Logo-Cadastro {
  position: relative;
  z-index: 2;
}

.Juntar {
  display: flex;
  margin-left: 300px
}

@media ()