<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/cadastro.css">
  <title>Cadastro</title>
</head>
<body>

  <section class="Section">
    <div class="Juntar">
      <div class="Cadastro">

        <div class="voltar">
          <a href="/"><img src="../static/img/img-seta-voltar.png" alt=""></a>
          <a href="/">VOLTAR</a>
        </div>

        <div class="caixa-cadastro">

            <p class="Titulo-caixa-cadastro">Crie sua conta</p>
       <form action="/cadastro" method="post">
            <div class="Label-input">
                <div class="Cadastro-Nome">
                    <label for="nome">Nome</label>
                    <input id="nome" type="text" name="nome" required>
                </div>

                <div class="Cadastro-Email">
                    <label for="email">Email</label>
                    <input id="email" type="email" name="email" required>
                </div>

                <div class="Cadastro-Senha">
                    <label for="senha">Senha</label>
                    <input id="senha" type="password" name="senha" required>
                </div>
            </div>

            <button class="Btn-Criar" type="submit">Criar</button>
       </form>

          <a class="link-login" href="index.html">Já possui uma conta?</a>

        </div>

      </div>
    </div>


    <div class="Background-image">

      <div class="Logo-Cadastro"> <img class="Logo" src="../static/img/Logo_Oficial.png" alt=""></div>

    </div>

  </section>
</body>
</html>