<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/static/dashboard.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    <title>Planeja Facil</title>
</head>
<body>
    <header id="Inicio" class="header">
        
        <div class="Container-Header">
            
            <div class="Textos-Header">
                <div class="logo-header">
                    <a href="dashboard.html"><img class="Logo" src="../assets/img/Logo_Oficial.png" alt="Logo" /></a>
                </div>

                <h1 class="Titulo-Header">Bem-Vindo <span style="color: #D1DBBD;">nome</span>!</h1>

                <p class="Subtitulo-Header">
                    Veja como está o seu saldo atual, suas entradas e saídas!
                </p>

            </div>
        </div>

        <div class="logout">
           <a href="index.html"><img class="img-logout" src="../assets/img/logout.png" alt=""></a>
        </div>

        <div>

            
        </div>

    </header>