<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/editar.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

    <title>Planeja Facil</title>

</head>
<body>

    <div class="overlay"></div>

    
    <div class="fechar-aba">
        <a href="/dashboard"><img class="img-fechar-aba" src="../static/img/img-x.png" alt=""></a>
    </div>

    <div class="adicionar-movimentacao">


      <h2>Editar operação</h2>
        <form method="post" action="/editar_{{ tipo }}/{{ id }}">
            {% if receitas %}
                {% set fonte = receitas[0][2] %}
                {% set data = receitas[0][3] %}
                {% set valor = receitas[0][1] %}
            {% elif despesas %}
                {% set fonte = despesas[0][2] %}
                {% set data = despesas[0][3] %}
                {% set valor = despesas[0][1] %}
            {% endif %}
          <div class="div-ajustar-esquerda">
            <div class="div-add-fonte">
                <label for="data">Fonte:</label>
                <input name="fonte_desc" type="text" id="fonte" class="input" required placeholder="Descrição" value="{{ fonte }}">
            </div>
            <div class="div-add-data">
              <label for="data">Data:</label>
              <input name="data" type="date" id="data" class="input" required value="{{ data }}">
            </div>

            <div class="div-add-valor">
              <label for="valor">Valor:</label>
              <input name="valor" type="number" id="valor" placeholder="R$ 0,00" step="0.01" class="input" required value="{{ valor }}">
            </div>
          </div>

            <input type="hidden" name="tipo" id="tipo" value="{{ tipo }}">

        <div class="div-botoes-adicionar">
            <button class="btn-salvar" type="submit">Salvar</button>

            <a href="/dashboard" class="link-cancelar">Cancelar</a>
        </div>    


        </form>
  </div>
  

    <header id="Inicio" class="header">
        
        <div class="Container-Header">
            
            <div class="Textos-Header">
                <div class="logo-header">
                    <a href="dashboard.html"><img class="Logo" src="../static/img/Logo_Oficial.png" alt="Logo" /></a>
                </div>

                <h1 class="Titulo-Header">Bem-Vindo <span style="color: #D1DBBD;">nome</span>!</h1>

                <p class="Subtitulo-Header">
                    Veja como está o seu saldo atual, suas entradas e saídas!
                </p>

            </div>


        </div>

        <div class="logout">
           <a href="index.html"><img class="img-logout" src="../static/img/logout.png" alt=""></a>
        </div>

    </header>

    <div class="blocos">

        <div class="blocoEntrada">
            <div class="displayflex">
                <p class="text-blocoEntrada">Entrada</p>

                <img class="img-blocos" src="../static/img/seta-entrada.png" alt="">
            </div>

            <div class="Valor-Entrada">
                <p>R$ 2.600,00</p>   
            </div>

        </div>
        <div class="blocoSaida">
            <div class="displayflex">
                <p class="text-blocoSaida">Saída</p>

                <img class="img-blocos" src="../static/img/seta-saida.png" alt="">
            </div>

            <div class="Valor-Saida">
                <p>R$ 2.600,00</p>   
            </div>

        </div>
        <div class="blocoTotal">
            <div class="displayflex">
                <p class="text-blocoTotal">Total</p>

                <img class="img-blocos" src="../static/img/icon-total.png" alt="">
            </div>

            <div class="Valor-Total">
                <p>R$ 0,00</p>   
            </div>

        </div>

    </div>

    <div class="displayflex2">
        <div class="caixa-historico">

            <div class="text-caixa-historico">
                <p class="texto">Movimentação</p>

                <p class="texto">Data</p>

                <p class="texto">Valor</p>
            </div>

            <div class="caixa-valores">

                <img src="../static/img/seta-entrada.png" alt="">
                
                <div class="div-texto-entrada">
                    <p class="texto-caixa-Entrada">Entrada</p>
                </div>

                <div class="div-data-entrada">
                    <p class="texto-caixa-valores">20/09/2024</p>
                </div>

                <div class="div-valor-entrada">
                    <p class="texto-caixa-valores">R$ 2.600</p>
                </div>

                <div class="div-imgs-caixa-valores">
                    <a href="editar.html"><img class="img-caixa-valores" src="../static/img/img-editar.png" alt=""></a>

                    <a href=""><img class="img-caixa-valores" src="../static/img/img-deletar.png" alt=""></a>
                </div>
                
            </div>

            <div class="caixa-valores">

                <img src="../static/img/seta-saida.png" alt="">
                
                <div class="div-texto-saida">
                    <p class="texto-caixa-Saida">Saída</p>
                </div>

                <div class="div-data-saida">
                    <p class="texto-caixa-valores">05/09/2024</p>
                </div>

                <div class="div-valor-saida">
                    <p class="texto-caixa-valores">R$ 2.600</p>
                </div>

                <div class="div-imgs-caixa-valores">
                    <a href="editar.html"><img class="img-caixa-valores" src="../static/img/img-editar.png" alt=""></a>

                    <a href=""><img class="img-caixa-valores" src="../static/img/img-deletar.png" alt=""></a>
                </div>
            </div>

        </div>
    </div>

    <footer>
        <div class="itens-footer">

            <div class="imgs-footer">

                <a href="https://www.whatsapp.com/?lang=pt_BR" target="_blank">
                    <div class="img-container">
                        <img class="img-footer" src="../static/img/img-whatsapp.png" alt="Whatsapp">
                    </div>
                </a>
                <a href="https://www.instagram.com/" target="_blank">
                    <div class="img-container">
                        <img class="img-footer" src="../static/img/img-instagram.png" alt="Instagram">
                    </div>
                </a>
                <a href="https://www.facebook.com/?locale=pt_BR" target="_blank">
                    <div class="img-container">
                        <img class="img-footer" src="../static/img/img-facebook.png" alt="Facebook">
                    </div>
                </a>
                <a href="https://x.com/?lang=pt-br" target="_blank">
                    <div class="img-container">
                        <img class="img-footer" src="../static/img/img-twitter.png" alt="Twitter">
                    </div>
                </a>

            </div>

            <div class="info-footer">

                <a href="index.html"><p class="texto-footer">NOSSA MISSÃO</p></a>

                <a href="index.html"><p class="texto-footer">NOSSOS SERVIÇOS</p></a>

                <a href="index.html"><p class="texto-footer">FALE CONOSCO</p></a>

            </div>
        </div>

        <div class="footerpart2">
            <p class="texto-footer2">© 2024 | Planeja Fácil | Todos os direitos reservados</p>
        </div>

    </footer>

    <script>
        const btn_add = document.getElementById("btn_add")
        const fechar_aba = document.getElementById("fechar")


        function fechar() {
            const over = document.getElementById("over")
            const add_movi = document.getElementById("add_movi")

            over.style.display = "none"
            add_movi.style.display = "none"
        }

        function adicionar() {
            const over = document.getElementById("over")
            const add_movi = document.getElementById("add_movi")

            over.style.display = "block"
            add_movi.style.display = "block"

        }

        btn_add.addEventListener('click', adicionar)
        fechar_aba.addEventListener('click', fechar)
    </script>

</body>
</html>